<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawfirm.asset.mapper.AssetMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lawfirm.asset.entity.Asset">
        <id column="id" property="id"/>
        <result column="asset_no" property="assetNo"/>
        <result column="asset_name" property="assetName"/>
        <result column="asset_type" property="assetType"/>
        <result column="purchase_date" property="purchaseDate"/>
        <result column="purchase_price" property="purchasePrice"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="location" property="location"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    
</mapper>
